.app {
  opacity: 0;
  transition: opacity .5s, transform .2s;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  overflow: auto;
  will-change: transform, opacity;
}

.app+footer {
  opacity: 0;
}

.app.ready+footer {
  opacity: 1;
}

.app.ready {
  opacity: 1;
}

.theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none;
  outline: none !important;
  z-index: 1000;
}

.text-green-500 {
  transition: color 1s;
}

.text-yellow-500 {
  transition: color 1s;
}

.text-red-500 {
  transition: color 1s;
}

.text-blue-500 {
  transition: color 1s;
}

.text-purple-500 {
  transition: color 1s;
}

.text-indigo-500 {
  transition: color 1s;
}

.text-pink-500 {
  transition: color .7s;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 0;
  transition: opacity .5s .5s;
}

.dark body {
  background-color: #111827;
}

body {
  background-color: #f3f4f6;
}

canvas {
  user-select: none;
}